@font-face {
    font-family: 'Geometria';
    src: url(../fonts/Geometria/Geometria.otf);
}

@font-face {
    font-family: 'GeometriaBold';
    src: url(../fonts/Geometria/Geometria-Bold.otf);
}
/*@font-face {*/
    /*font-family: 'GeometriaBoldItalic';*/
    /*src: url(../fonts/Geometria/Geometria-BoldItalic.otf);*/
/*}*/

/*@font-face {*/
    /*font-family: 'GeometriaExtaBlack';*/
    /*src: url(../fonts/Geometria/Geometria-ExtaBlack.otf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'GeometriaExtraBlackItalic';*/
    /*src: url(../fonts/Geometria/Geometria-ExtraBlackItalic.otf);*/
/*}*/

/*@font-face {*/
    /*font-family: 'GeometriaExtraLight';*/
    /*src: url(../fonts/Geometria/Geometria-ExtraLight.otf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'GeometriaExtraLightItalic';*/
    /*src: url(../fonts/Geometria/Geometria-ExtraLightItalic.otf);*/
/*}*/

/*@font-face {*/
    /*font-family: 'GeometriaHeavy';*/
    /*src: url(../fonts/Geometria/Geometria-Heavy.otf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'GeometriaHeavyItalic';*/
    /*src: url(../fonts/Geometria/Geometria-HeavyItalic.otf);*/
/*}*/

/*@font-face {*/
    /*font-family: 'GeometriaItalic';*/
    /*src: url(../fonts/Geometria/Geometria-Italic.otf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'GeometriaLight';*/
    /*src: url(../fonts/Geometria/Geometria-Light.otf);*/
/*}*/

/*@font-face {*/
    /*font-family: 'GeometriaLightItalic';*/
    /*src: url(../fonts/Geometria/Geometria-LightItalic.otf);*/
/*}*/
@font-face {
    font-family: 'GeometriaMedium';
    src: url(../fonts/Geometria/Geometria-Medium.otf);
}

/*@font-face {*/
    /*font-family: 'GeometriaMediumItalic';*/
    /*src: url(../fonts/Geometria/Geometria-MediumItalic.otf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'GeometriaThin';*/
    /*src: url(../fonts/Geometria/Geometria-Thin.otf);*/
/*}*/

/*@font-face {*/
    /*font-family: 'GeometriaThinItalic';*/
    /*src: url(../fonts/Geometria/Geometria-ThinItalic.otf);*/
/*}*/
@font-face {
    font-family: 'RobotoBlack_1';
    src: url(../fonts/Roboto/Roboto-Black_1.ttf);
}
@font-face {
    font-family: 'RobotoBlack_1_2';
    src: url(../fonts/Roboto/Roboto-Black_1-2.ttf);
}
/*@font-face {*/
    /*font-family: 'RobotoBlackItalic_1';*/
    /*src: url(../fonts/Roboto/Roboto-BlackItalic_1.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoBlackItalic_1_1';*/
    /*src: url(../fonts/Roboto/Roboto-BlackItalic_1-1.ttf);*/
/*}*/
@font-face {
    font-family: 'RobotoBold_1';
    src: url(../fonts/Roboto/Roboto-Bold_1.ttf);
}
@font-face {
    font-family: 'RobotoBold_1_3';
    src: url(../fonts/Roboto/Roboto-Bold_1-3.ttf);
}
/*@font-face {*/
    /*font-family: 'RobotoBoldItalic_1';*/
    /*src: url(../fonts/Roboto/Roboto-BoldItalic_1.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoBoldItalic_1_4';*/
    /*src: url(../fonts/Roboto/Roboto-BoldItalic_1-4.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoItalic_1';*/
    /*src: url(../fonts/Roboto/Roboto-Italic_1.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoItalic_1_5';*/
    /*src: url(../fonts/Roboto/Roboto-Italic_1-5.ttf);*/
/*}*/
@font-face {
    font-family: 'RobotoLight_1';
    src: url(../fonts/Roboto/Roboto-Light_1.ttf);
}
@font-face {
    font-family: 'RobotoLight_1_6';
    src: url(../fonts/Roboto/Roboto-Light_1-6.ttf);
}
/*@font-face {*/
    /*font-family: 'RobotoLightItalic_1';*/
    /*src: url(../fonts/Roboto/Roboto-LightItalic_1.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoLightItalic_1_7';*/
    /*src: url(../fonts/Roboto/Roboto-LightItalic_1-7.ttf);*/
/*}*/
@font-face {
    font-family: 'RobotoMedium_1';
    src: url(../fonts/Roboto/Roboto-Medium_1.ttf);
}
@font-face {
    font-family: 'RobotoMedium_1_8';
    src: url(../fonts/Roboto/Roboto-Medium_1-8.ttf);
}
/*@font-face {*/
    /*font-family: 'RobotoMediumItalic_1';*/
    /*src: url(../fonts/Roboto/Roboto-MediumItalic_1.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoMediumItalic_1_9';*/
    /*src: url(../fonts/Roboto/Roboto-MediumItalic_1-9.ttf);*/
/*}*/
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular_1.ttf);
}
@font-face {
    font-family: 'RobotoRegular_1_10';
    src: url(../fonts/Roboto/Roboto-Regular_1-10.ttf);
}
/*@font-face {*/
    /*font-family: 'RobotoThin_1';*/
    /*src: url(../fonts/Roboto/Roboto-Thin_1.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoThin_1_11';*/
    /*src: url(../fonts/Roboto/Roboto-Thin_1-11.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoThinItalic_1';*/
    /*src: url(../fonts/Roboto/Roboto-ThinItalic_1.ttf);*/
/*}*/
/*@font-face {*/
    /*font-family: 'RobotoThinItalic_1_12';*/
    /*src: url(../fonts/Roboto/Roboto-ThinItalic_1-12.ttf);*/
/*}*/