@media (min-width: 1440px) {

}

@media screen and (max-width: 1025px) and (min-width: 768px) {
    .checklist-body h4 {
        margin-right: 0;
    }

    .price-description {
        width: 100%;
    }

    .partner-container {
        grid-template-columns: auto auto auto;
    }

    .trust-container {
        grid-template-columns: auto auto;
        justify-content: space-around;
    }

    .discount-body {
        height: 60%;
        left: 45%;
    }

    .review-comment {
        width: 430px;
        height: 450px;
    }

    .review-comment-header {
        width: 405px;
    }

    .review-video-body {
        width: 297px;
    }

    .review-img {
        width: 297px !important;
    }

    .blog-video {
        width: 296px !important;
    }

    .blog-img {
        width: 296px !important;
    }

    .blog-video .btn-play {
        top: 150px;
        left: 115px;
    }

    .question-block {
        width: 443px;
    }

    .question-container-form img {
        width: 447px;
        left: 2%;
    }

    .main-slide img {
        width: 420px;
        height: 420px;
        margin: auto;
        display: flex;
        margin-top: 75px;
    }

    .btn-discount-container {
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .main-slide h3 {
        font-size: 30px;
    }

    .main-slide h2 {
        font-size: 42px;
    }

    .choose-item {
        width: 230px;
    }

    .portfolio-items {
        margin-left: 100px;
    }

    ul.dropdown li {
        width: 11%;
    }

    .choose-button-prev, .blog-button-prev, .video-button-prev, .review-button-prev {
        left: 20px;
    }

    .choose-button-next, .blog-button-next, .video-button-next, .review-button-next {
        right: 20px;
    }

    .list-styled {
        margin: 55px 25px;
    }
}

@media (min-width: 1600px) {
    .choose-button-prev, .blog-button-prev, .video-button-prev, .review-button-prev {
        left: 10%;
    }

    .choose-button-next, .blog-button-next, .video-button-next, .review-button-next {
        right: 10%;
    }
}

@media all and (max-width: 1199px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 575px) {
    body {
        background: #2a3047;
    }

    #scrollup {
        bottom: 90px;
        right: 13px;
    }

    #question .label-main {
        padding: 0 15px;
    }

    .portfolio-item-desc {
        display: none;
    }

    .list-on-slider ul {
        display: block;
    }

    .list-on-slider ul li:first-child {
        margin: 0 !important;
    }

    .list-on-slider ul li {
        margin: 0 !important;
    }

    .btn-blogAll {
        margin-bottom: 50px;
        margin-top: 0;
    }

    .workers-slide {
        display: flex;
        justify-content: center;
    }

    .main-slide h3 {
        font-size: 20px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.7;
        letter-spacing: 0.8px;
    }

    .main-slide h2 {
        font-size: 24px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 1px;
    }

    #mainSlider {
        height: auto;
    }

    .main-slide-text {
        margin-top: 0;
    }

    .main-slide img {
        width: 100%;
        height: auto;
    }

    .main-slide .btn-main {
        display: none;
    }

    .main-slide .btn-main2 {
        display: block;
    }

    .slider-control {
        position: relative;
        text-align: center;
    }

    .slider-btn {
        display: none;
    }

    .choose-btn-container {
        display: none;
    }

    .side-img {
        display: none;
    }

    .choose-item {
        margin-left: 0;
        text-align: center;
    }

    .choose-item img {
        margin-left: 45px;
    }

    .choose-slide {
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        align-items: baseline;
        grid-template-columns: unset;
        grid-column-gap: unset;
    }

    .service-container {
        grid-template-columns: auto;
        grid-column-gap: 10px;
    }

    .btn-checklist {
        margin-bottom: 20px;
    }

    .trust-item {
        display: inline-block;
    }

    .swiper-pagination.choose-pagination.service-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        bottom: 0;
    }

    .padding-section {
        padding-bottom: 0;
    }

    .service-item {
        width: auto;
        padding-top: 35px;
        margin: 0 5%;
    }

    .service-item img {
        top: 10px;
        right: -10px;
        width: 140px;
    }

    .checklist-container {
        padding-top: 0;
        margin-top: 15px;
    }

    #videoSlider .swiper-slide:first-child {
        margin-left: 0;
    }

    .review-video-body {
        width: 99%;
    }

    .img-poster {
        width: 99%;
    }

    .gallery_img {
        width: 96% !important;
    }

    .checklist-label {
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: center;
        padding-left: 0;
    }

    .btn-discount-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-discount {
        display: block !important;
    }

    .checklist-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .checklist-body img:not(:first-child) {
        display: none;
    }

    .checklist-body h4 {
        margin-right: 0;
        width: 300px;
    }

    .checklist-body > div {
        text-align: center;
    }

    #portfolio-sub-category, .hr-portfolio {
        display: none;
    }

    .portfolio-item img {
        width: 100%;
        height: 350px;
        border-radius: 8px
    }

    .portfolio-item {
        width: auto;
        height: 350px;
        margin: 10px 10px 10px 5px;
    }

    .tab-price-content h2 {
        width: auto;
        text-align: center;
    }

    .price-type-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .price-body .row {
        margin-left: 0;
        margin-right: 0;
    }

    .price-type-item {
        width: 160px;
        height: 230px;
        padding: 31px 31px 25px;
        margin: 15px 0;
    }

    .price-type-item.active {
        padding: 25px 25px;
    }

    .price-type-item h4 {
        font-size: 20px;
    }

    .price-type-item.active h2, .price-type-item h2 {
        font-size: 20px;
        float: left;
    }

    .price-type-item.active .price-img {
        margin-bottom: 10px;
    }

    .modal-style .modal-dialog {
        margin: 10px auto;
    }

    .modal-style textarea {
        height: 73px;
    }

    .price-type-item a {
        margin-top: 0;
    }

    .price-type-item.active a {
        display: block;
    }

    .price-type-item {
        padding: 31px 31px 25px;
    }

    .price-description {
        position: absolute;
        top: -540px;
        left: 0px;
        width: 100%;
        opacity: 0;
        height: 540px;
        display: none;
        overflow-y: auto;
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        -ms-transition: opacity 0.5s linear;
    }

    .price-description span {
        color: #fff !important;
        display: block;
    }

    .price-description::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .price-description::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .price-description::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        background-color: #ffc231;
    }


    .list-styled {
        padding: 10px;
        margin: 5px 35px;
    }

    .trust-container, .partner-container {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .thanks-label {
        width: 100%;
    }

    .thanks-container {
        padding-top: 25%;
    }

    .partner-item {
        width: 240px;
        height: 180px;
    }

    .partner-item a.btn-main {
        width: 85%;
        margin-top: 10px;
    }

    .blog-h2 {
        padding-right: 0;
    }

    .trust-container {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .discount img {
        left: -230px;
    }

    .discount-body h2 {
        font-size: 20px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.8px;
    }

    .discount-body h3 {
        font-size: 24px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 1px;
    }

    .swiper-portfolio {
        width: 100%;
        height: 360px;
    }

    .discount-body button {
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        width: 267.5px;
        height: 57px;
        position: absolute;
        bottom: -100px;
        left: -80px;
    }

    .free-consultation-block {
        margin-top: 0px;
        padding-left: 50px;
        width: -webkit-fill-available;
        height: 197px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #813fcc;
        margin-left: 14px;
        margin-right: 14px;
        z-index: 2;
        position: relative;
    }

    .select {
        width: 100%;
    }

    .wrapper {
        padding-top: 69px;
    }

    .nav-link {
        font-family: RobotoMedium_1_8;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.7px;
        color: #000000;
        margin-left: 15px;
    }

    .discount-body {
        height: auto;
        position: absolute;
        left: 35%;
        top: 45%;
        width: 63%;
    }

    .navbar {
        padding: unset;
    }

    .review-comment {
        width: auto;
    }

    #reviewSlider .swiper-slide:first-child {
        margin-left: 0;
    }

    #reviewSlider .swiper-slide:first-child {
        margin-left: 0;
    }

    .review-comment-header {
        width: auto;
    }

    .question-container-form img {
        display: none;
    }

    section {
        padding-bottom: 0;
    }

    .portfolio-item-body {
        width: 100%;
        display: block;
        height: 100px;
    }

    .question-line {
        display: none;
    }

    .portfolio-items {
        width: 100% !important;
        padding: 5px !important;
    }

    .question-block {
        position: relative;
        width: 100%;
        right: unset;
    }

    footer {
        padding: 75px 40px 120px;
    }

    .partner-item:hover {
        background-color: transparent;
        -webkit-filter: none;
        filter: none;
    }

    .btn-partners {
        position: relative;
        bottom: 0;
        left: 0;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        background: transparent;
        border: none;
        color: #ffc231 !important;
        text-decoration: underline;
        display: block !important;
        filter: grayscale(0);
    }

    .navbar-brand img {
        margin-left: 20px;
        padding-right: 14px;
        border-right: none;
        width: 151px;
        height: 43.2px;
    }

    .partner-item img {
        width: 155px;
        height: 120px;
        object-fit: contain;
    }

    .portfolio-desc, .portfolio-data {
        text-align: left !important;
    }

    .navbar-btn {
        width: 107px;
        height: 40px;
        font-family: RobotoMedium_1_8;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0px;
        color: #1f2124;
        padding: 0px;
        margin-top: 7px;
    }

    .review-pagination, .video-pagination, .blog-pagination {
        display: contents;
    }

    .review-pagination span.swiper-pagination-bullet,
    .video-pagination span.swiper-pagination-bullet,
    .blog-pagination span.swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #1c2030;
        opacity: 0.8;
        margin: 15px 5px;

    }

    #trustSlider {
        height: 400px !important;
    }

    .price-tab a {
        margin: 0;
    }

    .modal-small .modal-dialog, .modal-style .modal-dialog {
        width: 95% !important;
    }

    .question-form {
        padding: 15px 20px;
    }

    .modal-style input, .modal-style textarea {
        width: 100%;
    }

    .portfolio-sub-categories {
        display: none;
    }

    .portfolio-btn-container {
        display: none;
    }

    .jobs-help {
        width: auto;
    }
}

/* Bootstrap end  */
/* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

}

/* Smartphones (landscape) */
@media only screen
and (min-width: 321px) {

}

/* Smartphones (portrait) */
@media only screen
and (max-width: 320px) {

}

/* iPads (portrait and landscape) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    body {
        background: #2a3047;
    }

    .portfolio-item-desc {
        display: none;
    }

    .wrapper {
        margin-top: 92px;
    }

    .partner-container {
        grid-template-columns: auto auto;
    }

    .portfolio-items {
        margin: 0 auto;
    }

    .slider-control {
        bottom: 11%;
    }

    .portfolio-items {
        margin: 0 auto;
        width: 100%;
    }

    .portfolio-item {
        width: 350px;
    }

    .portfolio-item img {
        width: 350px;
    }

    .gallery_img {
        width: 40% !important;
    }

    .swiper-wrapper .portfolio-item img {
        width: 350px;
    }

    .portfolio-item-body {
        width: 350px;
        display: block;
        height: 100px;
    }

    .side-img-10 {
        display: none;
    }

    .choose-item {
        margin-left: 60px;
    }

    .service-item {
        margin: 45px auto 0;
    }

    #blogSlider .swiper-slide {
        width: auto !important;
    }

    .review-comment {
        width: 430px;
        height: 450px;
        margin: 0 auto;
        z-index: 0;
    }

    #reviewSlider .swiper-slide:first-child {
        margin-left: 0;
    }

    .checklist-body img:not(:first-child) {
        display: none;
    }

    .design-tab {
        width: -webkit-fill-available;
    }

    .price-type-list {
        display: contents;
        height: 100%;
        margin-left: 20px;
    }

    .price-type {
        width: 50%;
    }

    .price-description {
        position: absolute;
        top: -600px;
        left: 0px;
        width: 100%;
        opacity: 0;
        height: 570px;
        display: none;
        overflow-y: auto;
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        -ms-transition: opacity 0.5s linear;
    }

    .price-description span {
        color: #fff !important;
        display: block;
    }

    .price-description::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .price-description::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .price-description::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        background-color: #ffc231;
    }

    .review-pagination, .video-pagination, .blog-pagination {
        display: contents;
    }

    .review-pagination span.swiper-pagination-bullet,
    .video-pagination span.swiper-pagination-bullet,
    .blog-pagination span.swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #1c2030;
        opacity: 0.8;
        margin: 15px 5px;

    }

    .slider-btn {
        display: none;
    }

    .choose-btn-container {
        display: none;
    }

    .price-type-item h2, .price-type-item h4 {
        width: auto;
    }

    .price-type {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .tab-price-content h2:first-child {
        text-align: center;
        margin: 20px auto;
    }

    .review-video-body {
        width: 326px;
    }

    .price-type-item.active a {
        display: block;
    }

    .nav-link {
        font-family: RobotoMedium_1_8;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.7px;
        color: #000000;
        margin-left: 15px;
    }

    .navbar-btn {
        position: relative;
        top: 10px;
        left: 41%;
    }
}

/* iPads (landscape) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .wrapper {
        margin-top: 92px;
    }

    .partner-container {
        grid-template-columns: auto auto;
    }

    .portfolio-items {
        margin: 0 auto;
    }

    .slider-control {
        bottom: 11%;
    }

    .portfolio-items {
        margin: 0 auto;
        width: 100%;
    }

    .portfolio-item {
        width: 350px;
    }

    .portfolio-item img {
        width: 350px;
    }

    .gallery_img {
        width: 40% !important;
    }

    .swiper-wrapper .portfolio-item img {
        width: 350px;
    }

    .portfolio-item-body {
        width: 350px;
        display: block;
        height: 100px;
    }

    .side-img-10 {
        display: none;
    }

    .choose-item {
        margin-left: 60px;
    }

    .service-item {
        margin: 45px auto 0;
    }

    #blogSlider .swiper-slide {
        width: auto !important;
        padding: 5px;
    }

    .review-comment {
        width: 430px;
        height: 450px;
        margin: 0 auto;
        z-index: 0;
    }

    #videoSlider .swiper-slide {
        padding: 5px;
    }

    #reviewSlider .swiper-slide:first-child {
        margin-left: 0;
    }

    .checklist-body img:not(:first-child) {
        display: block;
    }

    .design-tab {
        width: -webkit-fill-available;
    }

    .price-type-list {
        display: contents;
        height: 100%;
        margin-left: 20px;
    }

    .price-type {
        width: 50%;
    }

    .price-description {
        position: absolute;
        top: -600px;
        left: 0px;
        width: 100%;
        opacity: 0;
        height: 570px;
        display: none;
        overflow-y: auto;
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        -ms-transition: opacity 0.5s linear;
    }

    .price-description span {
        color: #fff !important;
        display: block;
    }

    .price-description::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .price-description::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .price-description::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        background-color: #ffc231;
    }

    .review-pagination, .video-pagination, .blog-pagination {
        display: contents;
    }

    .review-pagination span.swiper-pagination-bullet,
    .video-pagination span.swiper-pagination-bullet,
    .blog-pagination span.swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #1c2030;
        opacity: 0.8;
        margin: 15px 5px;

    }

    .slider-btn {
        display: none;
    }

    .choose-btn-container {
        display: none;
    }

    .price-type-item h2, .price-type-item h4 {
        width: auto;
    }

    .price-type {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .tab-price-content h2:first-child {
        text-align: center;
        margin: 20px auto;
    }

    .review-video-body {
        width: 296px;
    }

    .img-poster {
        width: 296px;
    }

    .price-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .navbar-brand img {
        border-right: none;
    }

    .navbar-btn {
        position: relative;
        left: 99%;
        top: 10px;
    }
}

/* iPads (portrait) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .navbar-brand img {
        border-right: none;
    }
    .wrapper {
        margin-top: 92px;
    }

}

/* Desktops and laptops */
@media only screen
and (min-width: 1224px) {

}

/* Large screens */
@media only screen
and (min-width: 1824px) {

}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}