@import "fonts.css";

html, body {
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

a {
    color: #1f2124;
}

a:hover {
    color: #ffc231 !important;
    text-decoration: none;
}

section {
    background: #2a3047;
    color: white;
    padding-bottom: 100px;
    position: relative;
}

.section-white {
    background: white;
    color: black;
    padding-bottom: 0;
    position: relative;
}

section:last-child {
    padding-bottom: 10px;
}

#navbar-first {
    height: 100px;
}

.first-navbar {
    background: white;
    padding: 0;
    max-height: 150px;
}

.first-navbar .navbar-collapse {
    flex-direction: column;
}

#navbar-first .row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    display: inline-flex;
}

.navbar-brand img {
    margin-left: 60px;
    padding-right: 14px;
    border-right: 1px solid #000000;
}

.navbar-brand p {
    height: 30px;
    padding-left: 14px;
    font-family: RobotoMedium_1_8;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #1f2124;
    margin-top: 5px;

}

.navbar-phone p {
    margin-bottom: 0;
    font-family: RobotoMedium_1_8;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 0.6px;
    color: #1f2124;
}

.navbar-light .navbar-nav .nav-link {
    color: #1f2124;
}

.navbar-btn {
    width: 180px;
    height: 40px;
    border: solid 1px #ffc231;
    border-radius: 30pc;
    background-color: white;
    font-family: RobotoMedium_1_8;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #1f2124;
}

.navbar-btn:hover {
    background-color: #f2f2f2;
}

.navbar-btn:active, .navbar-btn:focus {
    background-color: #ffc231 !important;
    color: white !important;
    box-shadow: none !important;
}

.margin-left-60 {
    margin-left: 60px;
}

.margin-right-60 {
    margin-right: 60px;
}

.second-navbar {
    height: 54px;
    background-color: #1f2124;
}

ul.dropdown {
    position: relative;
    width: 100%;
    height: 100%;
}

.navbar-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul.dropdown li {
    float: left;
    width: 10%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: RobotoMedium_1;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-transform: uppercase;
}

ul.dropdown li:hover {
    background: #2f3236;
    border-bottom: 5px solid #ffc231;
}

.navbar-center > li {
    float: none;
    display: inline-block;
}

#navbar-second a, #navbar-second a:hover, #navbar-second:focus-within a {
    color: white !important;
}

.question-line {
    height: 338px;
    background-color: #ff7070;
    width: 100%;
    content: "";
}

.question-block {
    position: absolute;
    width: 533px;
    height: 430px;
    background-color: #ffffff;
    right: 10%;
    border-radius: 6px;
}

.question-container-form {
    position: relative;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-main {
    margin-bottom: 50px;
}

.swiper-container {
    width: 100%;
    height: 469px;
}

.review-video-body {
    width: 326px;
    height: 155px;
    background-color: #313954;
    color: white;
    margin-top: 14px;
    border-radius: 8px;
    padding: 16px 26px 0;
}

#videoSlider .swiper-slide:first-child {
    margin-left: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.review-comment {
    width: 490px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 8px;
}

.review-comment-header {
    width: 470px;
    height: 134px;
    padding: 10px;
    margin: -10px;
    background-color: #edf1f5;
    border-bottom: 4px solid #8846f7;;
    border-radius: 4px;
}

.review-comment-body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 25px 20px;
}

.review-comment-desc {
    text-overflow: ellipsis;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    height: 280px;
    padding: 5px;
}

#reviewSlider .swiper-slide:first-child {
    margin-left: 35px;
}

.review-comment-desc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.review-comment-desc::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.review-comment-desc p {
    margin-bottom: 0;
}

.review-comment-desc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #ffc231;
}


.padding-section {
    padding-top: 50px;
    padding-bottom: 20px;
}

.discount {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #feca50;
    position: relative;
    height: 567px;
}

.discount img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.navbar-phone {
    margin-left: 0 !important;
    margin-right: -60px !important;
}

footer {
    background: #23283b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    padding: 75px 100px 120px;
}

footer label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffc231;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}

footer a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
}

footer a:hover {
    color: #ffc231 !important;
}

.footer-act {
    border-radius: 8px;
    background-color: #2a3047;
    padding: 15px;
}

.footer-list {
    text-transform: uppercase;
}

.footer-list2 a {
    font-size: 10px !important;
}

footer img {
    width: 182px;
    height: 54px;
    object-fit: contain;
}

.list-inline li {
    display: inline-flex;
    margin: 0 5px;
}

.fa-footer {
    font-size: 1.7em;
}

.question-container-form img {
    width: 487px;
    height: 409px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 5%;
}

.btn-main {
    border-radius: 22.5px;
    background-color: #ffc231;
    color: white;
    font-family: GeometriaMedium;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    border: solid 2px #ffc231;
    padding: 10px 25px !important;
}

.btn-main:hover {
    border-radius: 22.5px;
    border: solid 2px #dfa315;
    background-color: #ffc231;
    color: white !important;
}

.btn-main:active, .btn-main:focus {
    border-radius: 22.5px;
    border: solid 2px #dfa315 !important;
    background-color: #dfa015 !important;
    box-shadow: none !important;
    color: white !important;
}

.question-container-form button {
    height: 45px;
    width: 203px;
    margin-top: 20px;
}

.question-container-form input {
    width: 85%;
    height: 69px;
    border-radius: 34.5px;
    background-color: #f6f6f6;
    font-family: Geometria;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #676a6e;
}

.question-block {
    padding-top: 50px;
}

.review-video-body h3 {
    font-family: RobotoBold_1;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #ffffff;
}

.review-video-body p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.review-video-label {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #ffffff;
}

.label-main h2 {
    font-family: GeometriaBold;
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.section-white .label-main h2 {
    font-family: GeometriaBold;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: 1.3px;
    color: #202225;
}

.footer-act label {
    text-transform: inherit;
}

.footer-act p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #ffffff;
}

.discount-body {
    height: 100%;
    position: absolute;
    left: 35%;
    top: 25%;
}

.discount-body h2 {
    font-family: GeometriaBold;
    font-size: 42px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 1.8px;
    color: #2b2d30;
    text-transform: uppercase;
}

.discount-body h3 {
    font-family: GeometriaBold;
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: 1.5px;
    color: #2b2d30;
}

.discount-body button {
    font-family: RobotoBlack_1;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    border-radius: 28.5px;
    background-color: #fc484d;
    height: 57px;
    width: 376.5px;
    border: none;
}

.review-poster > img {
    object-fit: cover;
    border-radius: 8px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
}

.review-comment-header h4 {
    font-family: RobotoBold_1_3;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #49506a;
}

.review-comment-header p {
    font-family: RobotoRegular_1_10;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #49506a;
}

.review-comment-header p strong {
    font-family: RobotoBold_1_3;
    font-weight: bold;
}

.review-comment-body p {
    font-family: RobotoLight_1;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #626570;
}

.blog-img {
    width: 100%!important;
    height: 300px !important;
    object-fit: cover;
}

.review-comment-header a.btn-main {
    width: 167px;
    height: 33px;
}

.review-comment-header img {
    object-fit: cover;
    border-radius: 50px;
}

.trust-container, .partner-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}

.portfolio-items {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    height: 480px;

}

.trust-item {
    width: 242px;
    height: 326px;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 4px;
    position: relative;
    margin: 20px 0;
}

.trust-item img {
    width: 234px;
    height: 318px;
    border-radius: 4px;
    object-fit: cover;
}

.trust-item .company-label {
    width: 200px;
    height: 76px;
    border-radius: 4px;
    background-color: #ffffff;
    position: absolute;
    right: -20px;
    bottom: 20px;
    font-family: Geometria;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
}

.partner-item {
    width: 250px;
    height: 240px;
    border-radius: 8px;
    background-color: transparent;
    position: relative;
    margin: 20px 0;
}

.partner-item:hover {
    background-color: #ffffff;
    -webkit-filter: none;
    filter: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.14);
}

.blog-container {
    margin: 10px auto;
}

.partner-item img {
    width: 155px;
    object-fit: cover;
    padding-top: 50px;
}

.partner-item a.btn-main {
    height: 37px;
    display: none;
    padding: 5px 25px !important;
}

.partner-item:hover a {
    display: block;
}

.checklist-label {
    font-family: GeometriaBold;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 60px;
    padding-bottom: 20px;
}

.checklist-body {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.checklist-body h2 {
    font-family: GeometriaBold;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.checklist-body h4 {
    font-family: GeometriaMedium;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
    width: 360px;
    margin-right: 70px;
}

.service-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
    justify-content: center;
}

.service-item {
    width: 407px;
    position: relative;
    margin-bottom: 70px;
}

.service-item img {
    position: absolute;
    top: -30px;
    right: 10px;
}

.service-item ul {
    margin-top: 30px;
    bottom: 80px;
}

.service-item h4 {
    font-family: GeometriaBold;
    font-size: 19px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: 0.8px;
    color: #ffffff;
}

.service-item ul {
    font-family: RobotoLight_1;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #ffffff;
}

.service-item-0 hr {
    height: 10px;
    background-color: #ffc231;
}

.service-item-1 hr {
    height: 10px;
    background-color: #67ded3;
}

.service-item-2 hr {
    height: 10px;
    background-color: #8846f7;
}

.service-item-3 hr {
    height: 10px;
    background-color: #ffbc7e;
}

.choose-item {
    width: 300px;
    margin-left: 40px;
}

.choose-item h2 {
    font-family: GeometriaBold;
    font-size: 17px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: 0.7px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 5px;
    height: 70px;
}

.choose-item p {
    font-family: RobotoLight_1_6;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: 0.6px;
    color: #ffffff;
    margin-top: 25px;
}

.main-slide h2 {
    font-family: GeometriaBold;
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #1f2124;
    text-transform: uppercase;
}

.main-slide h3 {
    font-family: GeometriaBold;
    font-size: 23px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 1.7px;
    color: #1f2124;
    text-transform: uppercase;
}

.main-slide img {
    width: 679px;
    height: 519px;
    object-fit: contain;
}

.btn-slider {
    font-family: RobotoBlack_1;
}

#mainSlider {
    height: 600px;
}

.main-slide .btn-main {
    margin-top: 46px;
    width: 203px;
}

.main-slide-text {
    margin-top: 100px;
}

.arrow-left {
    width: 56px;
    height: 56px;
    object-fit: cover;
    background: url("../images/arrow-left.svg");
}

.arrow-left:hover {
    background: url("../images/arrow-left-hover.svg");
}

.arrow-left:active, .arrow-left:active {
    background: url("../images/arrow-left-active.svg");
}

.arrow-right {
    width: 56px;
    height: 56px;
    object-fit: cover;
    background: url("../images/arrow-right.svg");
}

.arrow-right:hover {
    background: url("../images/arrow-right-hover.svg");
}

.arrow-right:active, .arrow-right:active {
    background: url("../images/arrow-right-active.svg");
}

.slider-control {
    z-index: 10;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 15%;
    right: 0;
}

.slider-btn {
    display: flex;
}

.slider-btn .arrow-left {
    margin-right: 20px;
}

.main-pagination .swiper-pagination-bullet {
    padding: 5px 10px;
    width: auto;
    height: 30px;
    text-align: center;
    opacity: 1;
    font-family: GeometriaBold;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.32;
    letter-spacing: 0.9px;
    color: #aeaeae;
}

.main-pagination .swiper-pagination-bullet-active {
    font-family: GeometriaBold;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: 1.4px;
    color: #1f2124;
}

.main-pagination .swiper-pagination-bullet {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    opacity: 1;
}

.without-padding {
    padding-bottom: 0;
}

a.review-video-link:hover p, a.review-video-link:hover h3 {
    color: #ffc231 !important;
}

.btn-play {
    position: absolute;
    top: 110px;
    margin: auto;
    left: 125px;
    background-color: transparent !important;
    border: none !important;
}

.padding-top-50 {
    padding-top: 50px;
}

.portfolio-tab a {
    height: 72px;
    text-align: center;
    justify-content: center;
    font-family: GeometriaBold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225 !important;
    text-transform: uppercase;
    border-radius: 0 !important;
    padding: 25px 25px 0.5rem;
}

.portfolio-tab a:hover {
    color: #202225 !important;
    box-shadow: 0 -4px #dfa315 inset;
}

.portfolio-tab a.active {
    background-color: #f1f2f6 !important;
    box-shadow: 0 -4px #ff7070 inset;
}

.portfolio-item {
    width: 370px;
    height: 370px;
    border-radius: 8px;
    background-color: #d8d8d8;
    position: relative;
    float: left;
    margin: 10px 0 10px 8px;
}

.portfolio-item-body {
    width: 370px;
    height: 213px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgba(0, 0, 0, .6);
    color: white;
    padding: 16px 17px;
    position: absolute;
    bottom: 0;
    display: none;
}

.portfolio-item:hover .portfolio-item-body {
    display: block;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.portfolio-item-body h3 {
    font-family: GeometriaBold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.portfolio-item-body p {
    font-family: Geometria;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.6px;
    color: white;
    padding: 5px 0;
}

.portfolio-item-body p strong {
    font-weight: bold;
    font-family: GeometriaBold;
}

.portfolio-item img {
    object-fit: cover;
    width: 370px;
    height: 370px;
    border-radius: 8px;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.checklist-container {
    padding-top: 240px;
}

.side-img {
    position: absolute;
    object-fit: cover;
}

.side-img-1 {
    right: 0;
    top: 120px;
}

.side-img-2 {
    left: 0;
    bottom: -80px;
    z-index: 1;
}

.side-img-3 {
    right: 0;
    top: 340px;
}

.side-img-4 {
    left: 0;
    bottom: -260px;
    z-index: 1;
}

.side-img-5 {
    right: 0;
    top: -100px;
}

.side-img-6 {
    left: 0;
    bottom: -100px;
    z-index: 1;
}

.side-img-7 {
    left: 0;
    top: 0;
}

.side-img-8 {
    right: 0;
    bottom: -125px;
    z-index: 1;
}

.side-img-9 {
    left: 0;
    bottom: -100px;
    z-index: 1;
}

.choose-slide {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}

.choose-pagination {
    z-index: 20;
}

.choose-pagination span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #1c2030;
    opacity: 0.8;
}

.choose-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}

.work-pagination-block {
    display: flex;
    justify-content: center;
}

.work-pagination {
    z-index: 20;
}

.work-pagination span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #1c2030;
    opacity: 0.8;
    margin: 0px 2px;
}

.work-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}

#chooseSlider {
    height: 530px;
}

.partner-data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.partner-data {
    overflow-y: auto;
    height: 400px;
    overflow-x: hidden;
}

.partner-data::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.partner-data::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #ffc231;
}

#partnersModalSlider {
    height: auto;
}

.choose-btn {
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.choose-btn-container {
    /*display: flex;*/
    /*align-content: center;*/
    /*align-items: center;*/
    /*height: 100%;*/
}

.choose-button-prev, .blog-button-prev, .video-button-prev, .review-button-prev {
    left: 60px;
    position: absolute;
    background-color: white;
    border-radius: 56px;
}

.choose-button-next, .blog-button-next, .video-button-next, .review-button-next {
    right: 60px;
    position: absolute;
    background-color: white;
    border-radius: 56px;
}

.review-button-prev, .review-button-next {
    top: 55%;
}

.video-button-next, .video-button-prev {
    top: 35%;
}

.blog-button-next, .blog-button-prev {
    top: 50%;
}

.btn-checklist {
    width: 279px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 0;
}

#nav-portfolio {
    justify-content: center !important;
    padding: 5px;
    width: 90%;
}

.hr-portfolio {
    height: 2px;
    border-radius: 6px;
    background-color: #81879b;
    width: 100%;
}

.btn-partners {
    position: absolute;
    bottom: 20px;
    left: 45px;
}

.btn-trust {
    background-color: transparent;
}

.btn-trust:hover {
    background-color: #f7bc31;
    margin: 2px;
    width: 98%;
    height: 95%;
    display: block;

}

.btn-trust:hover img {
    display: none;
}

.btn-trust img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 6px;
    display: block;
}

.btn-trust p {
    font-family: Geometria;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn-trust:hover p {
    display: flex;
}

.blog-video {
    width: 326px;
    height: 461px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.14);
    position: relative;
}

#blogSlider .swiper-wrapper .swiper-slide {
    margin-left: 0px;
}

.blog-slider:first-child {
    margin-left: 20px;
}

.thanks-container {
    display: flow-root;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 5%;
}

.thanks-label {
    width: 674px;
    font-family: GeometriaBold;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1.3px;
    text-align: center;
    color: #000000;
}

.blog-time {
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #49506a;
    float: right;
    padding: 5px 10px;
}

.blog-body {
    height: 71px;
    font-family: RobotoBold_1;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #49506a;
    padding: 14px 26px;
}

.blog-video .btn-play {
    top: 150px;
    left: 135px;
}

#blog-items {
    padding-left: 25px;
}

.blog-video hr {
    width: 50px;
    height: 4px;
    float: left;
    margin-left: 26px;
}

.price-tab a.active {
    background-color: #23283b !important;
    box-shadow: 0 -4px #3fccb5 inset;
}

.price-tab a {
    background-color: transparent !important;
    text-transform: uppercase;
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: GeometriaBold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    box-shadow: 0 -2px #1b1f2d inset;
    border-radius: 0 !important;

}

.tab-price-content {
    margin-top: 50px;
}

.tab-price-content h2 {
    width: 516px;
    font-family: GeometriaBold;
    font-size: 26px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.1px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.price-description {
    width: 432px;
    border-radius: 8px;
    background-color: #313954;
}

.list-styled {
    list-style-image: url(../images/check.svg);
    padding: 20px;
    font-family: RobotoRegular_1_10;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin: 55px 45px;
}

.list-styled li {
    margin: 10px 0;
}

.btn-price {
    margin-left: 56px;
    margin-bottom: 56px;
    height: 37px;
    padding: 5px 25px !important;
}

.price-type-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    height: 100%;
}

.price-type-item {
    width: 250px;
    height: 300px;
    border-radius: 8px;
    padding: 61px 31px 25px;
}

.price-type-item.active {
    background-color: #ffffff;
    padding: 25px 42px;
}

.price-type-item h2 {
    font-family: GeometriaBold;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
}

.price-type-item.active h2 {
    font-family: GeometriaBold;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #2a3047;
}

.price-type-item h4 {
    display: none;
    font-family: RobotoMedium_1;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #2a3047;
    margin: 0;
}

.price-type-item.active h4 {
    display: block;
}

.price-type-item hr {
    display: none;
    width: 66px;
    height: 6px;
    background-color: #3fccb5;
    float: left;
}

.price-type-item.active hr {
    display: block;
    margin-top: 5px;
}

.price-type-item a {
    font-family: GeometriaMedium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffc231;
    display: block;
    text-decoration: underline;
    margin-top: 16px;

}

.price-type-item.active a {
    display: none;
}

.price-type-item .price-img {
    margin-bottom: 30px;
    width: 90px;
    height: 105px;
    object-fit: cover;
}

.price-type-item.active .price-img {
    margin-bottom: 16px;
}

.price1 {
    background: url("../images/price1.svg");
}

.price2 {
    background: url("../images/price2.svg");
}

.price3 {
    background: url("../images/price3.svg");
}

.price4 {
    background: url("../images/price4.svg");
}

.price-type-item.active .price1 {
    background: url("../images/price1-h.svg");
}

.price-type-item.active .price2 {
    background: url("../images/price2-h.svg");
}

.price-type-item.active .price3 {
    background: url("../images/price3-h.svg");
}

.price-type-item.active .price4 {
    background: url("../images/price4-h.svg");
}

.drop > a {
    position: relative;
}

.sub_menu {
    top: -2px !important;
    position: absolute;
    background: #1f2124;
    width: 100%;
    height: 54px;
    z-index: 100;
    margin: 54px 0 0;
    padding: 0;
    display: none;
}

.sub_menu li {
    width: 100% !important;
    background: #1f2124 !important;
}

.sub_menu li:hover {
    width: 100% !important;
    background: #2f3236 !important;
}

.list-on-slider {
    padding: 10px 0 0;
}

.list-on-slider ul {
    display: inline-flex;
    list-style: square;
}

.list-on-slider ul li:first-child {
    margin-right: 15px;
    margin-left: 0;
}

.list-on-slider ul li {
    font-family: GeometriaMedium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.6px;
    color: #1f2124;
    margin: 0 15px;
}

.btn-down {
    margin-bottom: 20px;
    width: 56px;
    height: 56px;
    object-fit: cover;
    background: url("../images/down.svg");
}

.btn-down:hover {
    background: url("../images/down-h.svg");
}

.btn-down:active, .btn-down:active {
    background: url("../images/down-a.svg");
}

.portfolio-container {
    padding: 0;
}

.checklist-body > div {
    margin-right: 20px;
    padding-left: 20px;
}

.btn-sub-category {
    height: 51px;
    border-radius: 8px;
    background-color: transparent;
    padding: 14px 35px;
    font-family: GeometriaBold;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #5f6266;
}

.btn-sub-category.active {
    height: 51px;
    background-color: #ffc231;
    color: #ffffff;
}

.btn-sub-category:hover, .btn-sub-category:checked {
    height: 51px;
    border: none !important;
    background-color: #ffc231;
    color: #ffffff !important;
    box-shadow: none !important;
}

.modal-style {
    padding: unset !important;
}

.modal-style .modal-dialog {
    width: 880px;
    border-radius: 6px;
    box-shadow: 1px 2px 4px 0 #bea9a9;
    background-color: #ffffff;
    margin: 50px auto;
    height: fit-content;
    max-width: unset !important;
}

.modal-style .modal-content {
    width: 100% !important;
    height: 100% !important;
}

.modal-label p {
    font-family: GeometriaBold;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: center;
    color: #202225;
    padding-top: 34px;
}

.modal-style .modal-body {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #202225;
}

.btn-modal {
    font-family: RobotoBold_1;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin: 10px 0;
    padding: 8px 25px;
    text-transform: uppercase;
}

.modal-help {
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9494;
}

.close {
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
    z-index: 5;
}

.question-form, .first-form {
    padding: 15px 50px;
}

.modal-style input, .modal-style textarea {
    border-radius: 34.5px;
    background-color: #f6f6f6;
    width: 346px;
    height: 53px;
    text-align: center;
}

.modal-style textarea {
    height: 183px;
}

.modal-small .modal-dialog {
    width: 460px !important;
}

.checklist-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.steps, .actions {
    display: none !important;
}

#scrollup {
    position: fixed;
    opacity: 1;
    margin: 5px;
    bottom: 50px;
    right: 40px;
    display: none;
    float: right;
    cursor: pointer;
    z-index: 2000;
    transform: rotate(90deg);
    background: white url(../images/arrow-left.svg) no-repeat;
    width: 56px;
    height: 56px;
    border-radius: 56px;
}

#scrollup:hover {
    background: url("../images/arrow-left-hover.svg");
}

#scrollup:active, #scrollup:active {
    background: url("../images/arrow-left-active.svg");
}

.review-channel {
    z-index: 999 !important;
}

.reviews-video-container .review-button-prev, .reviews-video-container .review-button-next {
    top: 55%;
}

.choose-container .choose-button-prev, .choose-container .choose-button-next {
    top: 50%;
}

.modal-address {
    margin-bottom: 10px;
}

.modal-address p {
    margin-bottom: 0.4rem;
}

.modal-partners-img {
    margin-bottom: 20px;
    border-bottom: 1px solid #f5f3ef;
}

.modal-partners-img img {
    margin-bottom: 20px;
}

.modal-partners-body {
    height: 100%;
}

.modal-partners {
    font-family: RobotoRegular_1_10;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
}

.label-portfolio h2 {
    font-family: GeometriaBold;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: 1.3px;
    color: #202225;
}

li.breadcrumb-item {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #49506a;
}

.breadcrumb {
    background: transparent;
}

.portfolio-body h2 {
    font-family: GeometriaBold;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.2px;
    color: #202225;
}

.portfolio-body strong {
    font-family: GeometriaBold;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
}

.portfolio-body p {
    font-family: Geometria;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
}

.portfolio-body-desc, .portfolio-body-desc p {
    font-family: RobotoLight_1;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
    padding: 0 5%;
}

.blog-body-desc, .blog-body-desc p {
    font-family: RobotoLight_1;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
}

.blog-h2 {
    padding-right: 35%;
}

.swiper-wrapper .portfolio-item {
    width: auto;
}

.swiper-wrapper .portfolio-item .portfolio-item-body {
    width: 100%;
}

.swiper-wrapper .portfolio-item img {
    width: 100%;
}

.portfolio-body-desc ul {
    list-style: none;
}

.portfolio-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-slider {
    margin: 20px 0;
}

.blog-list {
    margin-top: 20px;
}

.portfolio-body .blog-slider img {
    height: 445px;
    object-fit: cover;
}

.modal-video-close-btn {
    top: 0 !important;
}

.swiper-blog {
    height: 445px !important;
}

.slide-blog {
    margin-bottom: -5px;
}

.bnt-project {
    height: 33px;
    border-radius: 22.5px;
    background-color: #ffc231;
    padding: 4px 25px !important;
    font-family: GeometriaMedium;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
}

.btn-all {
    text-transform: initial;
}

.swiper-portfolio {
    width: 100%;
    height: 660px;
}


.requestwizard-modal {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.requestwizard-step p {
    margin-top: 10px;
}

.requestwizard-row {
    display: table-row;
}

.requestwizard {
    display: none;
    width: 100%;
    position: relative;
}

.requestwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.requestwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.requestwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.action-slider-2 img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.action-slider-2 h3 {
    font-family: GeometriaBold;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1.3px;
    color: #1f2124;
}

.action-slider-desc h3 {
    font-family: GeometriaBold;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1.3px;
    color: #1f2124;
}

.action-slider-desc {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.8px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 10%;
}

.action-slider-desc hr {
    width: 300px;
    height: 4px;
    float: left;
}

.room-label {
    font-family: GeometriaBold;
    font-size: 20px;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
}

.portfolio-rooms hr {
    width: 259px;
    height: 3px;
    background-color: #ff7070;
}

.btn-main2 {
    display: none;
}

.portfolio-desc, .portfolio-data {
    text-align: center !important;
}

footer .bnt-project {
    width: unset;
    font-family: GeometriaMedium;
    margin-top: 15px;
}

.hidden {
    display: none;
}

.navbar-mobile {
    justify-content: stretch;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    background-color: #ffffff !important;
}

.hamburger {
    padding: 5px;
}

.hamburger-box {
    width: 30px;
    top: 5px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 30px;
}

button.hamburger:focus {
    outline: none;
}

.navbar-nav.light {
    padding: 0.5rem 1rem;
}

.navbar-nav.dark {
    background-color: #0c0c0c;
    padding: 0.5rem 1.7rem;
}

.navbar-nav.dark a {
    font-family: RobotoMedium_1;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    color: #ffffff;
    text-decoration: underline;
}

.navbar-body {
    padding: 0.5rem 1rem;
    display: flex;
}

.label-navbar {
    font-family: RobotoMedium_1;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #ffc231;
    margin: 0;
}

.label-navbar-2 {
    font-family: RobotoMedium_1;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #00d68d;
    margin: 0;
    margin-top: 10px;
}

.label-navbar i {
    width: 20px;
    height: 20px;
    color: #ffc231;
    font-size: 1.5rem;
    margin-right: 5px;
}


.label-navbar-2 i {
    width: 20px;
    height: 20px;
    color: #00d68d;
    font-size: 1.5rem;
    margin-right: 5px;
}

.navbar-social {
    display: flex;
}

.navbar-social a {
    color: white !important;
    margin: 5px;
    font-size: 14px !important;
}

.review-pagination, .video-pagination, .blog-pagination {
    display: none;
}

.jobs-description {
    font-family: RobotoLight_1_6;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
    text-align: center;
}

.jobs-description strong {
    font-family: RobotoBold_1;
    font-weight: 500;
}

.job-label {
    font-family: GeometriaMedium;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
    text-align: left;
    margin: 10px 0;
}

.job-content {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
    text-align: left;
}

.job-content ul {
    list-style-image: url(../images/check-color.svg) !important;
}

.job-content li {
    padding: 5px;
}

.jobs-form input[type=file] {
    width: 223px;
    height: 41px;
    border-radius: 22.5px;
    background-color: #e8e9ef;
}

#file {
    display: none
}

.file_label {
    width: 223px;
    height: 41px;
    border-radius: 22.5px;
    background-color: #e8e9ef;
    font-family: GeometriaMedium;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #202225;
    display: block;
    transition: all 0.3s ease-in-out;
    padding-top: 10px;
}

.jobs-form input[type=text] {
    width: 346px;
    height: 51px;
    border-radius: 8px;
    background-color: #f6f6f6;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #9b9494;
    border: none;
}

.jobs-form input[type=text]:hover, .jobs-form input[type=text]:focus, .jobs-form input[type=text]:active {
    border: none;
    box-shadow: unset;
}

.jobs-help {
    width: 420px;
    height: 51px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #202225;
    margin-top: 10px;
    margin-bottom: 50px;
}

.partners-button-prev {
    z-index: 1051;
    position: absolute;
    top: 50%;
    left: -110px;
    background-color: white;
    border-radius: 56px;
}

.partners-button-next {
    z-index: 1051;
    position: absolute;
    top: 50%;
    right: -110px;
    background-color: white;
    border-radius: 56px;
}

.padding-top-20 {
    padding-top: 20px;
}

.portfolio-button-prev {
    z-index: 1051;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    height: 100%;
    background-color: #00000014;
    background-position: center;
}

.portfolio-button-next {
    z-index: 1051;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    height: 100%;
    background-color: #00000014;
    background-position: center;
}

.portfolio-button-prev:hover {
    background: #f2f2f28c url(../images/arrow-left.svg) no-repeat center;
}

.portfolio-button-next:hover {
    background: #f2f2f28c url(../images/arrow-right.svg) no-repeat center;
}

.portfolio-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #ffc231;
}

.blog-link {
    left: 0 !important;
    margin: 10px 0;
}

input:focus, input:active, input:focus-within {
    box-shadow: unset !important;
}

textarea:focus, textarea:active, textarea:focus-within {
    box-shadow: unset !important;
}

.select {
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    font-size: 12px;
    width: 346px;
    height: 100%;
    border-radius: 34.5px;
    background-color: #f6f6f6;
    border: 1px solid #ced4da;
    box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
}

.select .title,
.select .placeholder {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.7em 2em;
    background-color: #f6f6f6;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-family: Roboto;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9494;
    height: 54px;
}

.select > input {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    cursor: pointer;
    font-family: Roboto;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9494;
}

.select > input:checked ~ i.toggle.icon-arrow-down {
    display: none;
}

.select > input:checked ~ i.toggle.icon-arrow-up {
    display: block;
}

.select > input:checked div.options label.option .title {
    display: none !important;
}

.select > input:not(:checked) {
    z-index: 4;
}

.select > input:not(:checked) ~ label.option > span.title {
    display: none;
}

.select > input:not(:checked) ~ i.toggle.icon-arrow-up {
    display: none;
}

.select > input:not(:checked) ~ i.toggle.icon-arrow-down {
    display: block;
}

.select > input:disabled {
    cursor: no-drop;
}

.select > span.placeholder {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    color: #999;
    height: 54px;
    border-top: 0px;
}

.select label.option {
    display: block;
    z-index: 1;
    width: 100%;
    transition: all 1s ease-out;
}

.select label.option span.title {
    position: relative;
    z-index: 2;
    transition: background .3s ease-out;
}

.select label.option span.title i.icon {
    padding-right: 8px;
    color: #92a8d1;
}

.select label.option span.title:hover {
    color: rgba(0, 0, 0, 0.94) !important;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.select label.option input {
    display: none;
}

.select label.option input:checked ~ span.title {
    position: absolute;
    display: block;
    z-index: 3;
    top: 0px;
    background: #f6f6f6;
    border-top: 0px;
    box-shadow: none;
    width: 100%;
    font-family: Roboto;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9494
}

.select label.option input:disabled ~ span.title {
    background: #f6f6f6 !important;
    color: #aaa;
}

.select label.option input:disabled ~ span.title:hover {
    color: #f6f6f6;
    background: none;
    cursor: no-drop;
}

#step-type-0, #step-type-1, #step-type-2, #step-type-3 {
    display: none;
}

.select label {
    margin: 0;
}

.free-consultation-block {
    margin-top: 80px;
    padding-left: 50px;
    width: 327px;
    height: 197px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #813fcc;
    margin-left: 14px;
    z-index: 2;
    z-index: 2;
    position: relative;
}

.free-consultation-block h2 {
    width: 213px;
    font-family: GeometriaBold;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    font-size: 27px;
    color: #ffc231;
    margin: 0;
    padding: 0 0 10px;
}

.free-consultation-block i {
    font-size: 31px;
    color: white;
    margin: 0;
    padding: 5px;
}

.free-consultation-block h3 {
    width: 213px;
    font-family: GeometriaBold;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.free-consultation-block h4 {
    width: 258px;
    height: 69px;
    font-family: GeometriaBold;
    font-size: 19px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.8px;
    color: #ffffff;
}

.modal-free .col-12, .modal-free .col-md-6, .modal-free {
    padding: 0;
}

#firstModal .checklist-form {
    padding: 35px;
}

.slider-modal {
    top: -40px;
    transform: rotate(90deg);
    right: 70px;
    z-index: 0;
}

.worker-item {
    width: 264px;
    height: 430px;
    border-radius: 6px;
    background-color: #ffffff;
}

.worker-item img {
    width: 258px;
    height: 308px;
    object-fit: cover;
    margin-top: 4px;
}

.worker-item h2 {
    font-family: GeometriaBold;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #000000;
    margin: 18px auto 0;
}

.worker-item p {
    font-family: Geometria;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
}

.price-description span {
    display: none;
}

.worker-item hr {
    margin-top: 20px;
    width: 30px;
    height: 4px;
}

.share {
    width: 285px;
    height: 57px;
    border-radius: 8px;
    background-color: #f5f5f7;
    padding: 18px 35px;
    display: flex;
    justify-content: space-around;
}

.share i {
    font-size: 22px;
}

form.subscribe-form input.form-control {
    width: 100%;
}

.btn-blogAll {
    width: 267px;
    height: 37px;
    margin-top: 50px;
    margin-bottom: 0;
}

.opacity {
    opacity: 1 !important;
    display: block !important;
}

.gallery_img {
    width: 35% !important;
    margin: 10px;
    height: 300px !important;
    transition: .5s ease;
    object-fit: cover;
}

.gallery_img:hover{
    opacity: 0.7;
    background-color: black;
}

.partner-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #202225;
    padding: 0 25px;
}

.container-partners {
    position: relative;
}

.side-img-10 {
    position: absolute;
    bottom: 30px;
    left: 0;
    transform: rotate(180deg);
}

.side-img-11 {
    position: absolute;
    right: 0;
    top: 90px;
}

.navbar-lang {
    margin-left: 20px;
}

ul.navbar-nav.navbar-lang .nav-item.active .nav-link {
    color: #ffc231;
}

#panorama {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

.img-poster {
    width: 326px;
    height: 300px;
}

.partners-img {
    width: 100%;
    object-fit: cover;
}

.portfolio-item-desc {
    display: block;
}
.elsom{
    display: block;
    content: "";
    margin-top: -6px;
    background-image: url(../images/elsom.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 38px;
    height: 19px;
    margin-left: -9px;
}
.elsom:hover, a:hover .elsom {
    background-image: url('../images/elsom_hover.svg') !important;
}
