<template>
    <div>
        <label for="inputFormatter">Text input with formatter (on input)</label>
        <b-form-input id="inputFormatter"
                      v-model="text1"
                      type="text"
                      placeholder="Enter your name"
                      aria-describedby="inputFormatterHelp"
                      :formatter="format"></b-form-input>
        <b-form-text id="inputFormatterHelp">
            We will convert your name to lowercase instantly
        </b-form-text>
        <p>Value: {{ text1 }}</p>

        <label for="inputLazy">Text input with lazy formatter (on change)</label>
        <b-form-input id="inputLazy"
                      v-model="text2"
                      type="text"
                      placeholder="Enter your name"
                      aria-describedby="inputLazyHelp"
                      :formatter="format"
                      lazy-formatter></b-form-input>
        <b-form-text id="inputLazyHelp">
            This one is a little lazy!
        </b-form-text>
        <p>Value: {{ text2 }}</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                text1: '',
                text2: ''
            }
        },
        methods: {
            format(value, event) {
                return value.toLowerCase()
            }
        }
    }
</script>
