<template>
    <b-navbar toggleable="md" type="light" class="first-navbar">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-collapse is-nav id="nav_collapse">
            <b-container class="bv-example-row" fluid="true">
                <b-row>
                    <b-col>
                        <b-navbar-brand href="#">
                            <img src="/images/desktop-hd.svg">
                        </b-navbar-brand>
                    </b-col>
                    <b-col cols="12" md="auto">
                        <b-button variant="navbar-btn" class="navbar-btn">

                        </b-button>
                    </b-col>
                    <b-col cols="12" md="auto" class="navbar-phone">


                        <p></p>
                    </b-col>
                    <b-col cols="12" md="auto" class="margin-right-60">
                        <b-navbar-nav>
                            <b-nav-item href="#"></b-nav-item>
                            <b-nav-item href="#"></b-nav-item>
                            <b-nav-item href="#"></b-nav-item>
                        </b-navbar-nav>
                    </b-col>
                </b-row>
            </b-container>
        </b-collapse>
    </b-navbar>
</template>

<script>
    export default {
        name: "NavbarComponent"
    }
</script>

<style scoped>

</style>